  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper d-flex justify-content-center">
    <div *ngIf="user" class="og-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Mi Perfil</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
                  <li class="breadcrumb-item"><a routerLink="/dashboard/profile">Mi Perfil</a></li>
                  <li class="breadcrumb-item active">Editar</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">Editar Mi Perfil</h3>
                </div>
                <!-- /.card-header -->
                <form method="post"
                  autocomplete="off" 
                  [formGroup]="userForm"
                  (ngSubmit)="postUser()"
                  (keydown.enter)="$event.preventDefault()">

                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label><strong><i class="fas fa-user mr-1"></i> Nombre </strong></label>
                          <input type="text" class="form-control" placeholder="Nombre completo" formControlName="name">
                        </div>
  
                        
                        <!-- /.form-group -->
                        <div class="form-group">
                          <label><strong><i class="fas fa-book mr-1"></i> Educación </strong></label>
                          <input type="text" class="form-control" placeholder="Tu universidad y en qué semestre vas" formControlName="school">
                        </div>
                        <!-- /.form-group -->
  
                         <!-- /.form-group -->
                         <div class="form-group">
                          <label><strong><i class="fa fa-phone mr-1"></i> Teléfono</strong></label>
                          <input type="text" class="form-control"  placeholder="Tu teléfono" formControlName="phone">
                        </div>
                        <!-- /.form-group -->
  
                      </div>
                      <!-- /.col -->
                      <div class="col-md-6">
                          <div class="form-group">
                              <label><strong><i class="fas fa-stethoscope mr-1"></i> Área </strong></label>
                              <select class="form-control select2" style="width: 100%;" formControlName="specialty">
                                  <option value="" disabled>Área de salud en la que ofreces consultas.</option>
                                  <option *ngFor="let spec of specialties" [value]="spec.specialtyID">{{spec.specialtyName}}</option>
                              </select>
                              </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                          <label><strong><i class="fas fa-map-marker-alt mr-1"></i> Ubicación</strong></label>
                          <input type="text" class="form-control" placeholder="Lugar en donde ofreces consultas" formControlName="location">
                        </div>
                        <!-- /.form-group -->
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <hr>
  
                    <div class="row">
                      <div id="formBox" class="col-lg-6">
                        <label><strong><i class="fa fa-stethoscope mr-1"></i>Tratamientos </strong></label>
  
                        <ul class="list-group">
                          <li *ngFor="let treatment of user.userTreatments" class="list-group-item d-flex justify-content-between align-items-center">
                            {{treatment.treatment_name}}
                            <a class="btn btn-secondary text-white" (click)="deleteTreatment(treatment.pk_treatment)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                          </li>
                        </ul>
  
                        <ul class="list-group mt-2">
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            <input type="text" class="form-control mr-3" (input)="nTreatment=$event.target.value" 
                                    name="nTreatment" placeholder="Agregar tratamiento" value="{{nTreatment}}" (keydown.enter)="addTreatment()">
                            <a class="btn btn-primary text-white" (click)="addTreatment()" [class.disable]="nTreatment.length < 2"><i class="fa fa-plus" aria-hidden="true"></i></a>
                          </li>
                        </ul>
                      </div>
          
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label><strong><i class="fa fa-comment mr-1"></i>Mensaje de Introducción </strong></label>
                            <textarea class="form-control" formControlName="notes" id="" cols="30" rows="10" placeholder="Mensaje que se mostrará al entrar a tu perfil"></textarea>
                        </div>
                      </div>
                    </div>
        
  
  
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer clearfix">
                    <button type="submit" class="btn btn-primary float-right"><i class="fas fa-save mr-1"></i> Guardar</button>
                  </div>
                </form>
              </div>
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->

    </div>
</div>
<!-- /.content-wrapper -->