  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper d-flex justify-content-center">
      <div *ngIf="user && appointments" class="og-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>Mi Perfil</h1>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
                    <li class="breadcrumb-item active">Mi Perfil</li>
                  </ol>
                </div>
              </div>
            </div><!-- /.container-fluid -->
          </section>
      
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3">
      
                  <!-- Profile Image -->
                  <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                      <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle"
                             src="{{userImg}}"
                             alt="User profile picture">
                      </div>
      
                      <h3 class="profile-username text-center">{{user.userName}}</h3>

                      <p class="text-center">{{user.userEmail}}</p>
      
                      <p class="text-muted text-center">{{user.userSpecialty.specialty_name}}</p>
      
                      <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                          <b>Consultas Activas</b> <a class="float-right">{{user.activeAppointments}}</a>
                        </li>
                        <li class="list-group-item">
                          <b>Consultas Terminadas</b> <a class="float-right">{{user.finishedAppointments}}</a>
                        </li>
                      </ul>
      
                      <a *ngIf="user.userType == 2" [routerLink]="['edit']" class="btn btn-primary btn-block"><b>Editar Perfil</b></a>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
      
                  <!-- <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Acerca de Mi</h3>
                    </div>
                    <div class="card-body">
                      <strong><i class="fas fa-book mr-1"></i> Educación </strong>
      
                      <p class="text-muted">{{user.userSchool}}</p>
      
                      <hr>
      
                      <strong><i class="fas fa-map-marker-alt mr-1"></i> Ubicación</strong>
      
                      <p class="text-muted">{{user.userLocation}}</p>
      
                      <hr>
      
                      <strong><i class="fa fa-phone mr-1"></i> Teléfono</strong>
      
                      <p class="text-muted">{{user.userPhone}}</p>
      
                      <hr>
      
                      <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
      
                      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                    </div>
                  </div> -->
                </div>
                <!-- /.col -->
                <div *ngIf="user.userType == 2" class="col-md-9">
                  <div class="card">
                    <div class="card-header p-2">
                      <ul class="nav nav-pills">
                        <li  class="nav-item"><a class="nav-link active" href="#offer" data-toggle="tab">Información</a></li>
                        <li class="nav-item"><a class="nav-link" href="#history" data-toggle="tab">Historial</a></li>
                        <li class="nav-item"><a class="nav-link" href="#schedule" data-toggle="tab">Horario</a></li>
                      </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="offer">
                                <h5 class="tab-title">Información General</h5>
                                <div class="row">
                                    <div class="col-6">
                                        <strong><i class="fas fa-book mr-1"></i> Educación </strong>
                                        <p class="text-muted">{{user.userSchool}}</p>
                                    </div>
                                    <div class="col-6">
                                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Ubicación</strong>
                                        <p class="text-muted">{{user.userLocation}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <strong><i class="fa fa-phone mr-1"></i> Teléfono</strong>
                                        <p class="text-muted">{{user.userPhone}}</p>
                                    </div>
                                </div>
                                <hr>
                                <strong><i class="fa fa-stethoscope mr-1"></i>Tratamientos</strong>
                                <ul>
                                  <li *ngIf="user.userTreatments.length == 0">No se han especificado tratamientos.</li>
                                  <li *ngFor="let treatment of user.userTreatments">{{treatment.treatment_name}}</li>
                                </ul>
        
                                <strong><i class="fa fa-comment mr-1"></i>Mensaje de Introducción</strong>
                                <!-- <p *ngIf="user.userTreatments.length == 0">No se han especificado tratamientos.</p> -->
                                <p>{{user.userNotes}}</p>
                            </div>

                            <div class="tab-pane" id="history">
                              <h5 class="tab-title">Historial de Consultas</h5>
                              <p *ngIf="appointments.length == 0" class="text-muted">Aun no tiene consultas.</p>

                              <div *ngIf="appointments.length > 0">
                                <div class="row">
                                  <div class="col-12">
                                    <ul class="list-group list-group-flush">

                                      <li *ngFor="let appointment of appointments" class="list-group-item">
                                        <div class="row">
                                          <div class="col-4">
                                            <p>Folio de consulta : <span class="text-muted">#{{appointment.appointmentID}}</span></p>
                                          </div>
                                          <div class="col-6">
                                            <p>Tratamiento : <span class="text-muted">{{appointment.appointmentTreatment}}</span></p>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-4">
                                            <p class="text-muted">{{appointment.appointmentStartDate | date:'medium'}}</p>
                                          </div>
                                          <div class="col-6">
                                            <p>Paciente : <span class="text-muted">{{appointment.appointmentUser}}</span></p>
                                          </div>
                                        </div>
                                      </li>

                                    </ul>
                                  </div>
                                </div>


                              </div>

                              
                          </div>

                          <div class="tab-pane" id="schedule">
                            <h5 class="tab-title">Horario de Actividad</h5>
                            <p *ngIf="schedule.length == 0" class="text-muted">Aun no especifica horario.</p>

                            <div *ngIf="schedule.length > 0">
                              <div class="row">
                                <div class="col-12">
                                  <ul class="list-group list-group-flush">

                                    <li *ngFor="let sc of schedule" class="list-group-item">
                                      <div class="row">
                                        <div class="col-6">
                                          <p>{{sc.day}}: <span class="text-muted">{{sc.start}} - {{sc.end}}</span></p>
                                        </div>
                          
                                      </div>
                          
                                    </li>

                                  </ul>
                                </div>
                              </div>

                            </div>

                            <a *ngIf="user.userType == 2" routerLink="/dashboard/schedule" class="btn btn-primary"><b>Editar Horario</b></a>

                            
                        </div>
                        </div>

                    </div>
                      <!-- /.card-body -->
                  </div>
                  <!-- /.nav-tabs-custom -->
                </div>

                <div *ngIf="user.userType == 3" class="col-md-9">
                  <div class="card">
                    
                    <div  class="card-body">
                        <div class="tab-content">
                              <h5 class="tab-title">Historial de Consultas</h5>
                              <p *ngIf="appointments.length == 0" class="text-muted">Aun no tiene consultas.</p>
                        </div>
                    </div>
                  </div>
                    <!-- /.card-body -->
                </div>
             
              </div>
              <!-- /.row -->
            </div><!-- /.container-fluid -->
          </section>
          <!-- /.content -->

      </div>
  </div>
  <!-- /.content-wrapper -->