.og-wrapper{
    width: 1000px;
}
.og-toggled{
    background-color: #007bff;
    color:white;
}
.og-toggled:hover{
    background-color: #007bff;
    color:white;
}
 
.tab-title{
    margin-bottom: 15px;
}
.li-title{
    list-style-type: none; 
}